// FONTS
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');

// COLORS
$black: #1b1a17;
$brown: #BFA98F;
$orange: #f9b674;
$beige: #fff3dc;
$shadow: #837463;
$text: #000;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: $beige;
    font-family: 'Roboto', sans-serif;
    color: $text;
}


// STRUCTURE

.container {
    display: flex;
    border-radius: 10px;
    background-color: $brown;
    box-shadow: 0 0 60px 10px $shadow;
}

.aside {
    flex: 1;
    background-image: url('../img/coffee-group.jpg');
    background-position: center;
    background-size: cover;
    border-radius: 0 10px 10px 0;
}

.form-container {
    flex: 1;
    min-width: 320px;
    padding: 10px;
}


// HEADER

.header {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 20px;
}
.dark-mode-button {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 3.4em;
    height: 3.4em;
    padding: .4em;
    border-radius: 50%;
    border: none;
    background-color: $black;
    box-shadow: 0 0 30px 10px $shadow;
    transition: .3s;

    & img {
        width: 100%;
    }

    &:hover, &:focus, &:active {
        background-color: $shadow;
        box-shadow: 0 0 10px $shadow;
        transform: scale(0.95);
        outline: none;
    }
}
.header__title {
    font-family: 'Caveat Brush', cursive;
    margin-top: 10px;
    font-size: 4rem;
}
.header__img {
    width: 5rem;
    margin-left: 20px;
}


// MAIN

.main {
    width: 80%;
    margin: auto;
    text-align: center;

    & h2 {
        margin-top: 20px;
        font-family: 'Caveat Brush', cursive;
        font-size: 2rem;
    }
}

#sub-list .main {
    width: 100%;
}

.main__text {
    text-align: justify;
    line-height: 1.4;
}


// FORM

.inscription-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 20px auto;
}

.inscription-form__item {
    display: flex;
    margin: 10px auto;
    width: 100%;
}

.item__label {
    flex: 1;
    padding: 10px;
    border-radius: 50px 0 0 50px;
    background-color: $black;
    color: $beige;
}


.item__input {
    flex: 3;
    padding: 10px;
    border-radius: 0 50px 50px 0;
    border: none;
    background-color: $beige;

    &:focus {
        outline: none;
        background-color: $orange;
    }
}

.favorite-day {
    margin: 1rem auto;
}

.inscription-form__item--checkbox {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.checkbox-group {
    display: flex;
    justify-content: space-between;
    margin: .4rem;
    padding: .4rem;
    border: 2px solid $beige;
    border-radius: 10px;
}
.item__label--checkbox {
    flex: 2;
    margin-right: 1rem;
    padding: 0;
    background-color: $brown;
    border-radius: 0;
    color: $black;
}


.inscription-form__submit {
    width: 40%;
    margin: 20px auto;
    padding: 10px;
    border: none;
    border-radius: 50px;
    background-color: $beige;
    box-shadow: 0 0 30px 10px $shadow;
    color: $text;
    cursor: pointer;
    transition: .3s;

    &:hover, &:focus {
        background-color: $orange;
        box-shadow: 0 0 10px $shadow;
        transform: scale(0.95);
        outline: none;
    }
    &:active {
        background-color: $brown;
        box-shadow: 0 0 10px $shadow;
        transform: scale(0.95);
    }
}


.sondage-form {
    margin: 1em auto;
    padding: .6em;
    border: 1px solid $black;
    border-radius: 10px;
}
.sondage-form .inscription-form__item--checkbox {
    flex-direction: column;
}


.show-list, .to-suscribe {
    display: block;
    margin: 20px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: $beige;
    box-shadow: 0 0 30px 10px $shadow;
    text-decoration: none;
    color: $black;
    cursor: pointer;
    transition: all 0.3s ease-out;

    &:hover, &:focus {
        background-color: $orange;
        box-shadow: 0 0 10px $shadow;
        transform: scale(0.95);
        outline: none;
    }
    &:active {
        background-color: $brown;
        box-shadow: 0 0 10px $shadow;
        transform: scale(0.95);
    }
}

// LIST

table {
    width: 100%;
    border: none;
    outline: none;
    border-spacing: 0;
}

th {
    padding: 10px;
}
.head-row {
    border-radius: 10px;
    background-color: $black;
    color: $beige;
}
.body-row:nth-child(odd) {
    background-color: $beige;
}
.body-row__name {
    text-transform: uppercase;
}
.body-row__firstname {
    text-transform: lowercase;
    text-transform: capitalize;
}
.body-row__email {
    text-transform: lowercase;
}
.body-row__project {
    text-transform: lowercase;
    text-transform: capitalize;
}
td {
    padding: 5px;
    border-left: 1px solid $black;
    border-bottom: 1px solid $black;
    border-top: 1px solid $black;
}
td:last-child {
    border: none;
    border-right: 1px solid $black;
    border-bottom: 1px solid $black;
    border-top: 1px solid $black;
}

.body-row.body-row--buttons td {
    border: none;
}

.body-row__button button {
    padding: 4px;
    border: none;
    border-radius: 5px;
    background-color: $black;
    color: $beige;
    cursor: pointer;
    transition: all 0.3s ease-out;

    &:hover, &:focus {
        background-color: $orange;
        outline: none;
        color: $black;
    }
    &:active {
        background-color: $beige;
        color: $black;
    }
}



// 404

.coffee {
    width: 50%;
    margin: 20px auto;
}



@media screen and (max-width: 750px) {
    .main {
        width: 100%;
    }
    .aside {
        display: none;
    }
}

@media screen and (max-width: 550px) {
    .head-row__email, .body-row__email {
        display: none;
    }
}