@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #fff3dc;
  font-family: "Roboto", sans-serif;
  color: #000;
}

.container {
  display: flex;
  border-radius: 10px;
  background-color: #BFA98F;
  box-shadow: 0 0 60px 10px #837463;
}

.aside {
  flex: 1;
  background-image: url("../img/coffee-group.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 0 10px 10px 0;
}

.form-container {
  flex: 1;
  min-width: 320px;
  padding: 10px;
}

.header {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 20px;
}

.dark-mode-button {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 3.4em;
  height: 3.4em;
  padding: 0.4em;
  border-radius: 50%;
  border: none;
  background-color: #1b1a17;
  box-shadow: 0 0 30px 10px #837463;
  transition: 0.3s;
}
.dark-mode-button img {
  width: 100%;
}
.dark-mode-button:hover, .dark-mode-button:focus, .dark-mode-button:active {
  background-color: #837463;
  box-shadow: 0 0 10px #837463;
  transform: scale(0.95);
  outline: none;
}

.header__title {
  font-family: "Caveat Brush", cursive;
  margin-top: 10px;
  font-size: 4rem;
}

.header__img {
  width: 5rem;
  margin-left: 20px;
}

.main {
  width: 80%;
  margin: auto;
  text-align: center;
}
.main h2 {
  margin-top: 20px;
  font-family: "Caveat Brush", cursive;
  font-size: 2rem;
}

#sub-list .main {
  width: 100%;
}

.main__text {
  text-align: justify;
  line-height: 1.4;
}

.inscription-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 20px auto;
}

.inscription-form__item {
  display: flex;
  margin: 10px auto;
  width: 100%;
}

.item__label {
  flex: 1;
  padding: 10px;
  border-radius: 50px 0 0 50px;
  background-color: #1b1a17;
  color: #fff3dc;
}

.item__input {
  flex: 3;
  padding: 10px;
  border-radius: 0 50px 50px 0;
  border: none;
  background-color: #fff3dc;
}
.item__input:focus {
  outline: none;
  background-color: #f9b674;
}

.favorite-day {
  margin: 1rem auto;
}

.inscription-form__item--checkbox {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.checkbox-group {
  display: flex;
  justify-content: space-between;
  margin: 0.4rem;
  padding: 0.4rem;
  border: 2px solid #fff3dc;
  border-radius: 10px;
}

.item__label--checkbox {
  flex: 2;
  margin-right: 1rem;
  padding: 0;
  background-color: #BFA98F;
  border-radius: 0;
  color: #1b1a17;
}

.inscription-form__submit {
  width: 40%;
  margin: 20px auto;
  padding: 10px;
  border: none;
  border-radius: 50px;
  background-color: #fff3dc;
  box-shadow: 0 0 30px 10px #837463;
  color: #000;
  cursor: pointer;
  transition: 0.3s;
}
.inscription-form__submit:hover, .inscription-form__submit:focus {
  background-color: #f9b674;
  box-shadow: 0 0 10px #837463;
  transform: scale(0.95);
  outline: none;
}
.inscription-form__submit:active {
  background-color: #BFA98F;
  box-shadow: 0 0 10px #837463;
  transform: scale(0.95);
}

.sondage-form {
  margin: 1em auto;
  padding: 0.6em;
  border: 1px solid #1b1a17;
  border-radius: 10px;
}

.sondage-form .inscription-form__item--checkbox {
  flex-direction: column;
}

.show-list, .to-suscribe {
  display: block;
  margin: 20px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #fff3dc;
  box-shadow: 0 0 30px 10px #837463;
  text-decoration: none;
  color: #1b1a17;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.show-list:hover, .show-list:focus, .to-suscribe:hover, .to-suscribe:focus {
  background-color: #f9b674;
  box-shadow: 0 0 10px #837463;
  transform: scale(0.95);
  outline: none;
}
.show-list:active, .to-suscribe:active {
  background-color: #BFA98F;
  box-shadow: 0 0 10px #837463;
  transform: scale(0.95);
}

table {
  width: 100%;
  border: none;
  outline: none;
  border-spacing: 0;
}

th {
  padding: 10px;
}

.head-row {
  border-radius: 10px;
  background-color: #1b1a17;
  color: #fff3dc;
}

.body-row:nth-child(odd) {
  background-color: #fff3dc;
}

.body-row__name {
  text-transform: uppercase;
}

.body-row__firstname {
  text-transform: lowercase;
  text-transform: capitalize;
}

.body-row__email {
  text-transform: lowercase;
}

.body-row__project {
  text-transform: lowercase;
  text-transform: capitalize;
}

td {
  padding: 5px;
  border-left: 1px solid #1b1a17;
  border-bottom: 1px solid #1b1a17;
  border-top: 1px solid #1b1a17;
}

td:last-child {
  border: none;
  border-right: 1px solid #1b1a17;
  border-bottom: 1px solid #1b1a17;
  border-top: 1px solid #1b1a17;
}

.body-row.body-row--buttons td {
  border: none;
}

.body-row__button button {
  padding: 4px;
  border: none;
  border-radius: 5px;
  background-color: #1b1a17;
  color: #fff3dc;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.body-row__button button:hover, .body-row__button button:focus {
  background-color: #f9b674;
  outline: none;
  color: #1b1a17;
}
.body-row__button button:active {
  background-color: #fff3dc;
  color: #1b1a17;
}

.coffee {
  width: 50%;
  margin: 20px auto;
}

@media screen and (max-width: 750px) {
  .main {
    width: 100%;
  }

  .aside {
    display: none;
  }
}
@media screen and (max-width: 550px) {
  .head-row__email, .body-row__email {
    display: none;
  }
}/*# sourceMappingURL=styles.css.map */