<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/styles.css" />
    <title>Dev Talk</title>
  </head>

  <body>
    <div class="container">
        <div class="form-container">
            <header class="header">
                <h1 class="header__title">Dev Talk</h1>
                <button class="dark-mode-button">
                    <img src="../img/lune.svg" alt="">
                </button>
            </header>

            <main class="main">
                <p class="main__text">
                    On vous propose de se retrouver <strong>deux matins par semaine</strong> vers
                    <strong>8h40</strong> sur Discord pour échanger sur les technos, frameworks et tout
                    ce qui touche à la tech et au dev de manière générale.
                    <br />
                    <br />Ça vous tente ?
                </p>

                <a class="show-list" href="/list">Liste d'inscription</a>

                <h2>Je participe</h2>
                <p>Tous les champs du formulaire sont obligatoires sauf le sujet</p>
                <form method="POST" action="" class="inscription-form">
                    <div class="inscription-form__item">
                        <label class="item__label" for="name">Nom</label>
                        <input class="item__input" type="text" name="name" id="name" required />
                    </div>
                    <div class="inscription-form__item">
                        <label class="item__label" for="name">Prénom</label>
                        <input class="item__input" type="text" name="firstname" id="firstname" required />
                    </div>
                    <div class="inscription-form__item">
                        <label class="item__label" for="email">Email</label>
                        <input class="item__input" type="email" name="email" id="email" required />
                    </div>
                    <div class="inscription-form__item">
                        <label class="item__label" for="subject">Mon sujet</label>
                        <input class="item__input" type="text" name="subject" id="subject" />
                    </div>
                    <p class="favorite-day">Quel jour te semble le plus approprié pour le Dev Talk ?
                        <br>(deux choix possibles)
                    </p>
                    <div class="inscription-form__item--checkbox">
                        <div class="checkbox-group">
                            <label class="item__label item__label--checkbox" for="lundi">Lundi</label>
                            <input class="item__input" type="checkbox" name="day" value="lundi" id="lundi">
                        </div>
                        <div class="checkbox-group">
                            <label class="item__label item__label--checkbox" for="mardi">Mardi</label>
                            <input class="item__input" type="checkbox" name="day" value="mardi" id="mardi">
                        </div>
                        <div class="checkbox-group">
                            <label class="item__label item__label--checkbox" for="mercredi">Mercredi</label>
                            <input class="item__input" type="checkbox" name="day" value="mercredi" id="mercredi">
                        </div>
                        <div class="checkbox-group">
                            <label class="item__label item__label--checkbox" for="jeudi">Jeudi</label>
                            <input class="item__input" type="checkbox" name="day" value="jeudi" id="jeudi">
                        </div>
                        <div class="checkbox-group">
                            <label class="item__label item__label--checkbox" for="vendredi">Vendredi</label>
                            <input class="item__input" type="checkbox" name="day" value="vendredi" id="Vendredi">
                        </div>
                    </div>

                    <button class="inscription-form__submit" type="submit">
                        Envoyer
                    </button>
                </form>
            </main>
        </div>

        <div class="aside"></div>

    </div>
    <script src="/js/main.js" type="module"></script>
</body>
</html>
