<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/styles.css" />
    <title>Dev Talk</title>
  </head>

  <body id="sub-list">
    <div class="container">
      <div class="form-container">
        <header class="header">
          <h1 class="header__title">Sub List</h1>
        </header>

        <main class="main">
          <a class="to-suscribe" href="/">Retour</a>
          <table>
            <thead>
              <tr class="head-row">
                <th>Nom</th>
                <th>Prénom</th>

                <th colspan="3">Projet</th>
              </tr>
            </thead>
            <tbody>
              <% list.forEach((list) => { %>
              <tr class="body-row">
                <td class="body-row__name"><%= list.name %></td>
                <td class="body-row__firstname"><%= list.firstname %></td>
                <td class="body-row__project"><%= list.subject %></td>
                <td></td>
              </tr>
              <tr class="body-row body-row--buttons">
                <td></td>
                <form
                  id="delete-form"
                  method="POST"
                  action="/list/d/<%= list.id %>"
                >
                  <td class="body-row__button">
                    <button
                      id="delete"
                      type="submit"
                      onclick="return confirm('Tu confirmes vouloir supprimer ces données ?')"
                    >
                      supprimer
                    </button>
                  </td>
                </form>
                <form
                  id="delete-form"
                  method="GET"
                  action="/list/m/<%= list.id %>"
                >
                  <td class="body-row__button">
                    <button type="submit">modifier</button>
                  </td>
                </form>
                <form
                id="delete-form"
                method="GET"
                action="/sondage/<%= list.id %>"
              >
                <td class="body-row__button">
                  <button type="submit">Sondage</button>
                </td>
              </form>
                <td class="body-row__email"></td>
                <td></td>
              </tr>

              <% }); %>
            </tbody>
          </table>
          <img class="coffee" src="/img/coffee.svg" alt="coffee" />
        </main>
      </div>

    </div>

  </body>
</html>
