<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/styles.css" />
    <title>Dev Talk</title>
  </head>

  <body>
    <div class="container">
      <div class="form-container">
        <header class="header">
          <h1 class="header__title">Maintenance</h1>
        </header>

        <main class="main">
          <p>
            Nous sommes en train d'ameliorer le projet, il sera bientôt de nouveau operationnel avec plus de fonctionnalités
            <br />
            <br />Tu peux quand même rester boire un café avec nous !
          </p>
          <img class="coffee" src="../img/coffee.svg" alt="coffee" />
        </main>
      </div>
      
    </div>
  </body>
</html>
