<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Dev Talk</title>
  </head>

  <body>
    <div class="container">
      <div class="form-container">
        <header class="header">
          <h1 class="header__title">Dev Talk</h1>
        </header>

        <main class="main">
          <h2>Modification</h2>
          <p>Tous les champs du formulaire sont obligatoires</p>
          <section class="form">
            <form method="POST" action="" class="inscription-form">
              <div class="inscription-form__item">
                <label class="item__label" for="name">Nom</label>
                <input
                  class="item__input"
                  type="text"
                  name="name"
                  id="name"
                  value="<% list.name %>"
                  required
                />
              </div>
              <div class="inscription-form__item">
                <label class="item__label" for="name">Prénom </label>
                <input
                  class="item__input"
                  type="text"
                  name="firstname"
                  id="firstname"
                  required
                />
              </div>
              <div class="inscription-form__item">
                <label class="item__label" for="email">Email </label>
                <input
                  class="item__input"
                  type="email"
                  name="email"
                  id="email"
                  required
                />
              </div>
              <div class="inscription-form__item">
                <label class="item__label" for="subject">Sujet </label>
                <input
                  class="item__input"
                  type="text"
                  name="subject"
                  id="subject"
                  required
                />
              </div>
              <button class="inscription-form__submit" type="submit">
                Modifier
              </button>
            </form>
          </section>
          <a class="to-suscribe" href="/">Retour</a>
        </main>
      </div>

    </div>
  </body>
</html>
