<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/styles.css" />
    <title>Dev Talk</title>
  </head>

  <body>
    <div class="container">
      <div class="form-container">
        <header class="header">
          <h1 class="header__title">Sondage</h1>
        </header>

        <main class="main">
          <p>
            Quel jour te semble le plus approprié pour le Dev Talk ?
            <br>
            (Deux choix possibles)
          </p>
          <form class="sondage-form" method="POST" action="">
            <div class="inscription-form__item--checkbox">
              <div class="checkbox-group">
                  <label class="item__label item__label--checkbox" for="lundi">Lundi</label>
                  <input class="item__input" type="checkbox" name="day" value="lundi" id="lundi">
              </div>
              <div class="checkbox-group">
                  <label class="item__label item__label--checkbox" for="mardi">Mardi</label>
                  <input class="item__input" type="checkbox" name="day" value="mardi" id="mardi">
              </div>
              <div class="checkbox-group">
                  <label class="item__label item__label--checkbox" for="mercredi">Mercredi</label>
                  <input class="item__input" type="checkbox" name="day" value="mercredi" id="mercredi">
              </div>
              <div class="checkbox-group">
                  <label class="item__label item__label--checkbox" for="jeudi">Jeudi</label>
                  <input class="item__input" type="checkbox" name="day" value="jeudi" id="jeudi">
              </div>
              <div class="checkbox-group">
                  <label class="item__label item__label--checkbox" for="vendredi">Vendredi</label>
                  <input class="item__input" type="checkbox" name="day" value="vendredi" id="Vendredi">
              </div>
          </div>

              <button class="inscription-form__submit" type="submit">
                Envoyer
              </button>
          </form>

          <% list.forEach((list) => { %>
            
              <p id="test"><%= list.day %></p>
              

            <% }); %>

          <a class="to-suscribe" href="/">Retour</a>
          <img class="coffee" src="../img/coffee.svg" alt="coffee" />
        </main>
      </div>

    </div>
<script type="module" src="/js/main.js"></script>
  </body>
